{% extends "base.html" %}

{% block title %}
    AudiTranscribe - {{ file_name }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.13.0/themes/ui-darkness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='resources/css/transcriber.css') }}">
{% endblock %}

{% block header_scripts %}
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"
            integrity="sha256-hlKLmzaRlE8SCJC1Kw8zoUbU8BxA+8kR3gseuKfMjxA=" crossorigin="anonymous"></script>
    <script>
        const SPECTROGRAM_GENERATED = {{ spectrogram_generated|lower }};  // Lowered because JS's booleans are lowercase
        const UUID = "{{ uuid }}";
    </script>
    {% if spectrogram_generated %}
        <script>
            const NOTE_NUMBER_RANGE = {{ note_number_range }};
            const SPECTROGRAM = new Image();
            SPECTROGRAM.src = `/media/${UUID}/{{ spectrogram }}`;
        </script>
    {% endif %}
{% endblock %}

{% block content %}
    {% if not spectrogram_generated %}
        <div class="overlay" id="overlay">
            <div class="progress-area">
                <span>Processing <code>{{ file_name }}</code></span>
                <div id="spectrogram-progress-bar"></div>
            </div>
        </div>
    {% else %}
        <div class="transcription-area" id="transcription-area">
            <div class="sidebar">
                <div class="main-menu-div">
                    <div class="main-menu">
                        <h1>AudiTranscribe</h1>
                        <h3>File: <code>{{ file_name }}</code></h3>
                    </div>
                </div>
                <div class="notes" id="notes-area">
                    <canvas id="notes-canvas"></canvas>
                </div>
            </div>
            <div class="spectrogram" id="spectrogram-area">
                <!-- Todo: fix annoying gray bar at the bottom of the canvas -->
                <canvas id="spectrogram-canvas"></canvas>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block body_scripts %}
    <script src="{{ url_for('static', filename='resources/js/transcriber.js') }}"></script>
{% endblock %}
