{% extends "base.html" %}

{% block title %}
    AudiTranscribe - {{ file_name }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.13.0/themes/ui-darkness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='resources/css/transcriber.css') }}">
{% endblock %}

{% block header_scripts %}
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"
            integrity="sha256-hlKLmzaRlE8SCJC1Kw8zoUbU8BxA+8kR3gseuKfMjxA=" crossorigin="anonymous"></script>
    <script>
        const STATUS_ID = {{ status_id }};
        const UUID = "{{ uuid }}";
    </script>
    {% if status_id == 1 %}
        <script>
            const SPECTROGRAM = new Image()
            SPECTROGRAM.src = `/media/${UUID}/{{ spectrogram }}`;
        </script>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="overlay" id="overlay">
        <div class="progress-area">
            <span>Processing <code>{{ file_name }}</code></span>
            <div id="spectrogram-progress-bar"></div>
        </div>
    </div>

    <div class="transcription-area" id="transcription-area">
        <div class="spectrogram" id="spectrogram-area">
            <canvas id="spectrogram-canvas"></canvas>
        </div>
    </div>
{% endblock %}

{% block body_scripts %}
    <script src="{{ url_for('static', filename='resources/js/transcriber.js') }}"></script>
{% endblock %}
