/* MAIN STYLING */
/* Basic Styling */
html {
    text-rendering: optimizeLegibility;
    font-size: 20px;
    scroll-behavior: smooth;
}

h1, h2 {
    margin-top: 0;
    text-align: center;
    margin-bottom: 1px;
}

nav {
    max-width: 1080px;
    margin: 0 auto;
}

p {
    line-height: 135%;
}

/* CLASS-BASED STYLING */
/* General Styling */
.card {
    background-color: #fff;
    border-radius: 10px;
    padding: 25px !important;
    margin: 20px;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.content {
    padding-bottom: 15px;
}

.content-alt {
    background-color: #f0f0f0;
}

.column {
    width: 50%;
    padding: 10px;
}

.column * {
    width: 100%; /* Width of the item should be the width of the column */
}

.column img {
    border: black 1px solid;
}

.column p {
    text-align: justify;
}

.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/header_background.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.hero-box {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translate(0%, -50%);
    text-align: center;
    color: white;
}

.row {
    display: flex;
}

.serif-font {
    font-family: "Times New Roman", "Times", serif;
}

/* Navbar */
.logo {
    margin-top: 30px;
    height: 50px;
    width: auto;
    float: left;
}

/* Buttons */
.button {
    border: 0;
    width: 300px;
    padding: 10px 0;
    margin: 5px 0;
    font-size: 24px;
    border-radius: 5px;
    color: white;
    display: inline-block;
    font-weight: bold;
}

.button:hover {
    cursor: pointer;
}

.upload-button {
    background-color: #209bed;
}

.upload-button:hover {
    background-color: #0079cb;
}

/* Texts */
.error-text {
    color: #ff6978;
}

.success-text {
    color: #28b062;
}

/* ELEMENT-BASED STYLING */
#upload-file-input {
    display: none;
}
