/* CLASS-BASED STYLING */
/* General Styling */
.main-page {
    display: flex;
    background: gray;  /* Todo: remove this colour */
}

.main-area {
    width: 75vw;
    height: 100vh;
}

.sidebar {
    width: 25vw;
    height: 100vh;
}

.transcription-area {
    height: 100%;
    overflow: scroll;
}

/* Row Styling */
.row {
    display: flex;
    width: min-content;
}

.bottom-row {
    position: sticky;
    bottom: 0;
    height: 50px;
    z-index: 3;
    width: min-content;
}

/* Top Row Styling */
.notes-area {
    width: 50px;
    position: sticky;
    left: 0;
    z-index: 2;
}

.spectrogram-area {
    position: relative;
    width: min-content;
}

/* Bottom Row Styling */
.blank-area {
    position: sticky;
    left: 0;
    width: 50px;  /* Width of the notes area */
    height: 50px;  /* Height of the numbers area */
    background: white;
}

.numbers-area {
    display: block;
    height: 50px;
    width: min-content;
}

/* Sidebar Styling */
.main-menu {
    width: calc(25vw - 5px);  /* Account for the border */
    height: 100vh;
    background: white;
    border-right: black 5px solid;
}

.main-menu h1, .main-menu h3 {
    margin: 0;
    padding-top: 5px;
    text-align: center;
}

/* Overlay Styling */
.overlay {
    background-image: url(../img/header_background.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.progress-area {
    background: rgba(0,0,0, 0.5); /* Semi-transparent white */
    border-radius: 5px;
    display: block;
    width: 50%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    padding: 10px;
    text-align: center;
    color: white;
}

.ui-widget-header {
	border: 1px solid #52489c;
	background: #52489c;
	color: #ffffff;
	font-weight: bold;
}

/* ELEMENT-BASED STYLING */
#bars-canvas {
    position: absolute;
    z-index: 1;
}

#spectrogram-progress-bar {
    margin-top: 5px;
}
