/* MAIN STYLING */
hr {
    width: 90%;
}

/* CLASS-BASED STYLING */
/* Utilities' Styling */
.button {
    display: block;
    padding: 2px 6px;
    background-color: #f0f0f0;
    border-width: 1px;
    border-radius: 2px;
    border-style: outset;
    border-color: #707070;
    color: black;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.button:hover {
    background-color: #e0e0e0;
}

.main-header {
    text-decoration: none;
    color: black;
}

/* Texts */
.error-text {
    color: #ff6978;
}

.success-text {
    color: #28b062;
}

/* General Styling */
.main-page {
    display: flex;
}

.main-area {
    width: 75vw;
    height: 100vh;
}

.sidebar {
    width: 25vw;
    height: 100vh;
}

.transcription-area {
    height: 100%;
    overflow: scroll;
    position: relative;
}

/* Sidebar Styling */
.input-area {
    width: 50%;
}

.input-area * {
    display: block;
}

.input-area select, input {
    margin: auto;
    width: 100%;
}

.input-area input[type="number"] {
    width: calc(100% - 8px); /* 8px is for the buttons for number selection */
}

.input-area input:invalid {
    color: red;
}

.main-menu {
    width: calc(25vw - 5px); /* Account for the border */
    height: 100vh;
    background: white;
    border-right: black 5px solid;
    overflow: scroll;
}

.main-menu h1, .main-menu h3 {
    margin: 0;
    padding-top: 5px;
    text-align: center;
}

.section {
    width: calc(90% - 1px);
    border: black 1px solid;
    border-radius: 5px;
    margin: auto;
    padding: 5px;
}

.section-input {
    width: 90%;
    margin: 5px auto;
    display: flex;
}

.section-input label {
    margin: auto;
    width: 50%;
}

/* Row Styling */
.row {
    display: flex;
    width: min-content;
}

.bottom-row {
    position: sticky;
    bottom: 0;
    height: 50px;
    z-index: 3;
    width: min-content;
}

/* Top Row Styling */
.notes-area {
    width: 50px;
    position: sticky;
    left: 0;
    z-index: 2;
}

.spectrogram-area {
    position: relative;
    width: min-content;
}

/* Bottom Row Styling */
.blank-area {
    position: sticky;
    left: 0;
    width: 50px; /* Width of the notes area */
    height: 50px; /* Height of the numbers area */
    background: white;
    z-index: 4;
}

.numbers-area {
    display: block;
    height: 50px;
    width: min-content;
    z-index: 2;
}

/* Overlay Styling */
.overlay {
    background-image: url(../img/header_background.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.progress-area {
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent white */
    border-radius: 5px;
    display: block;
    width: 50%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    padding: 10px;
    text-align: center;
    color: white;
}

.ui-widget-header {
    border: 1px solid #52489c;
    background: #52489c;
    color: #ffffff;
    font-weight: bold;
}

/* "Delete Project" Modal Styling */
.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover, .close-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-background {
    display: none;
    position: fixed;
    z-index: 10;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 25%;
    animation-name: animate-modal;
    animation-duration: 0.5s;
}

.modal-content .button {
    margin: 10px 0;
    padding: 10px 0;
}

.modal-content h3 {
    margin: 2px;
}

.modal-paragraph {
    text-align: justify;
}

/* Add Animation */
@keyframes animate-modal {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* ELEMENT-BASED STYLING */
#beats-canvas {
    position: absolute;
    z-index: 1;
}

#outcome-text {
    display: block;
    text-align: center;
}

#playhead-canvas {
    position: absolute;
    z-index: 2;
}

#spectrogram-file-name {
    text-decoration: underline;
}

#spectrogram-progress-bar {
    margin-top: 5px;
}

#spectrogram-progress-detail {
    display: inline-block;
    margin-bottom: 5px;
}
