/* CLASS-BASED STYLING */
.overlay {
    background-image: url(../img/header_background.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.progress-area {
    background: rgba(0,0,0, 0.5); /* Semi-transparent white */
    border-radius: 5px;
    display: block;
    width: 50%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    padding: 10px;
    text-align: center;
    color: white;
}

.transcription-area {
    background: black;
}

.spectrogram {
    overflow: scroll;
}

.ui-widget-header {
	border: 1px solid #52489c;
	background: #52489c;
	color: #ffffff;
	font-weight: bold;
}

/* ELEMENT-BASED STYLING */
#spectrogram-progress-bar {
    margin-top: 5px;
}
